[Desktop Entry]
Encoding=UTF-8
Name=Link to C++ One std::vector containing template class of multiple types - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/16527673/c-one-stdvector-containing-template-class-of-multiple-types
Icon=text-html
